body{
  width:100%;
  font-family: Arial, sans-serif;
}

p{
  margin:0 0 20px 0;
}

p, li{
  line-height:20px;
}

header#page_header{
  width:100%;
}

nav ul{
  list-style:none;
  margin: 0;
  padding: 0;
}

nav ul li{
  padding:0;
  margin-left:45%;
  margin-top:5px;
  margin-bottom: 5px;
}
