/*START:type_style */

body{
  width:960px;
  margin:15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

p{
  margin:0 0 20px 0;
}

p, li{
  line-height:20px;
}

section#logo{
  float: right;
  width: 200px;
  padding-right: 20px;

}
/*END:type_style */

/*START:header_style */
header#page_header{
  width:100%;
}
/*END:header_style */

/*START:nav_style */
header#page_header nav ul, footer#page_footer nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header#page_header nav ul li, footer#page_footer nav ul li{
  padding:0;
  margin: 0 20px 0 0;
  display:inline;
}
/*END:nav_style */

/*START:posts_style */
section#posts{
  float: left;
  width: 74%;
}


section#posts aside{
  float: right;
  width: 35%;
  margin-left: 5%;
  font-size: 20px;
  line-height: 21px;
}
/*END:posts_style */

/*START:sidebar_style */
section#sidebar{
  float: right;
  width: 25%;
  margin-top: 20px;
}
/*END:sidebar_style */

/*START:footer_style */
footer#page_footer{
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
}
/*END:footer_style */

legend{
    color:blue;
    font-weight: bold;
}

#innen{
    background-color: lightgray;
    margin-bottom:20px;
}

.text{
    margin-left:5px; 
    margin-top:0px;
    font-size: 15px;
    font-family: Arial, "MS Trebuchet", sans-serif;
    font-weight: bold;
}

.input{
    margin-left:5px;
    margin-bottom: 0px;
    width:70%;
}


